*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home, #house, #senate, #house-attendance, #senate-attendance, #house-loyalty, #senate-loyalty {
    pointer-events: none;
}

.bodyHome{
    min-height: 100vh;
}

.headTable{
    text-align: center;
    vertical-align: middle;
}

.data-table{
    margin: 0 auto;
    width: 75vw;
}

.table>:not(caption)>*>*{
    padding: 0.5rem 1.4vw;
}

.option-state:hover {
    background-color: #3264BA;
}

.select-state{
    width: 50vw;
}